<div class="ajax-button" #button (click)="save()" [class.success]="state===States.success" [class.error]="state === States.error">
  <div class="fa fa-check done" [class.success]="state === States.success"></div>
  <div class="fa fa-close error" [class.error]="state === States.error"></div>
  <input value="{{params.title}}" class="submit" id="submit" type="button"
        [disabled]="disabled"
        [class.loading]="state === States.loading"
        [class.hide-loading]="state === States.success || state === States.error"/>
</div>